<div>
    <img src="assets/employeewal.webp" alt ="" width="1400" height="700" style="position: fixed;">
    <body>
        <div class="wrapper">
          <div class="img-area">
            <!-- <div class="inner-area">
              <img [src]=" imageUrl || 'assets/no_profile_pic.jpg'" alt="">
            </div> -->
          </div>
          <div class="name">{{name}}</div>
          <div class="about">Welocome</div>
          <div class="social-icons">
            <a routerLink="/HOD/edithodprofile" class="fb"><i class='bx bx-pencil'></i></a>
            <a routerLink="/HOD/hchangepassword" class="fb"><i class='bx bxs-key'></i></a>
          </div>
          <div class="buttons">
            <button>E-Mail</button>
            <button>{{email}}</button>
          </div>
          <div class="buttons">
            <button>Contact Number</button>
            <button>+91{{contact}}</button>
          </div>
          <div class="buttons">
            <button>Date of Birth</button>
            <button>{{DOB}}</button>
          </div>
          <div class="buttons">
            <button>Gender</button>
            <button>{{gender}}</button>
          </div>
          <div class="buttons">
            <button>Adhaar</button>
            <button>4589266256</button>
          </div>
        </div>
      </body>
</div>

