<body>

    <form class="box" [formGroup]="changepasswordform">

        <h1>Change Password</h1>
        <input type="password" placeholder="Enter Old Password" formControlName="oldpassword" (change)="getpassword($event)">
        <input type="password" placeholder="Enter New Password" formControlName="newpassword">
        <input type="password" placeholder="Confirm New Password" formControlName="confirmnewpassword">
    
        <input type="submit" value="Change Password" (click)="changepassword()">

    </form>

</body>
