

<nav class="navbar navbar-expand-sm fixed-top navbar-light">
    <div class="container-fluid">
      <img src="assets/logo.jpg" alt="" width="70" height="50" class="d-inline-block align-text-top">
    <h2 div class="logo">EMPLOYEE NOMOS</h2>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="hml">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
        <a routerLink=" " class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="text-decoration: none;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Registration
          </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="log">        

          <li><a routerLink="/employee" class="dropdown-item">Employee</a></li>&nbsp;&nbsp;
          <li><a routerLink="/client" class="dropdown-item">Client</a></li>&nbsp;&nbsp;
          </div>
        </ul>
        </li>
        <li class="nav-item ">
            <a routerLink="/login" class="nav-link" >LogIn</a>
            </li>
        
      </ul>
      </div>
    </div>
    </div>
  </nav>     
  
  <div class="image">
    
  
  </div>
  <div class="content"><h1>EMPLOYEE NOMOS</h1></div>
  <div class="subcontent"><h6> Choose The Best One To Spend Your Dream Holiday</h6></div>
   <router-outlet></router-outlet>