.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.designation{
    position:fixed;
    top:180px;
    width: 1335px;
    right: 1px;
    background-color:aqua;
}