<body>
    <form>
    <div class="wrapper">
      
      <div class="icon arrow"><i class='bx bx-left-arrow-alt'></i></div>
      <div class="name">{{name}}</div>
      <div class="about">Helpdesk, Department of prjct mngr</div>
      <br>
      <div class="buttons">
        <button>E-mail</button>
        <input type="text" formControlName="email">
      </div>
      <div class="buttons">
        <button>Contact Number</button>
        <input type="text" formControlName="contact">
      </div>
  
      <div class="buttons">
        <button>Date of Birth</button>
        <input type="date" formControlName="dob">
      </div>
      <div class="buttons">
        <button>Adhaar</button>
        <input type="text" formControlName="adhaar">
      </div>
      <div class="social-icons">
        <a class="fb"><i class='bx bxs-save'></i></a>
      </div>
    </div>
  </form>
  </body>