.designation{
    position:fixed;
    top:180px;
    width: 1335px;
    right: 1px;
}
.qwe
{
    color: red;
    position:absolute;
    top:200px;
    left:52px
}

.btn{
    padding: 0px 10px 0px 10px;
    font-size: 20px;
    background-color: black;
}
.card-body
{
    /*background-color: azure;
    border-radius:5px;
    border-color: black;
    box-shadow: 2px 2px 2px 2px;*/
    position:absolute;
    top:50px;
    width: 650px;
    right: 300px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px;
    padding: 50px 150px 50px 150px;
    background-color: rgba(255, 255, 255, 0.493);
}

.second{
    margin: 0px;
}
    img{
        opacity: 0.;
        position:fixed;
        top:70px;
        width: 1335px;
        right:2px;
    }